@{
    ViewBag.Title = "Hackathon";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="//amp.azure.net/libs/amp/1.7.4/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../../assets/css/timelineMarkers.css" />
<link rel="stylesheet" href="../../assets/css/custom.css" />
<link rel="stylesheet" href="../../assets/css/ngDialog.css" />
<link rel="stylesheet" href="../../assets/css/ngDialog-theme-default.css" />
<link rel="stylesheet" href="../../assets/css/ngDialog-theme-flat.css" />


<div style="margin-top:40px" class="container" ng-app="IRTCaptionEditor" ng-controller="EditorController">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Initial Actions</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4 style="fon">Step 1: Upload Video</h4>
                            <input type="file" class="btn btn-default" name="file" id="file" accept="*" />
                            <button type="button" ng-click="uploadFiles()"  class="btn btn-default" style="margin-top:10px;">{{UploadTitle}}</button>
                        </li>
                        <li class="list-group-item">
                            <h4>Step 2: Process Video</h4>
                            <button type="button" ng-click="open()" class="btn btn-default">Process Video</button>
                        </li>
                        <li class="list-group-item">
                            <h4>Or View exisiting Result:</h4>
                            <div class="input-group" style="margin-top:10px;">
                                <button type="button" ng-click="LoadXml()" class="btn btn-default">Load</button>
                                <input type="text" style="margin-left:10px;" ng-model="metaxml" style="width:150px" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <script type="text/ng-template" id="processDialog">
                <div class="ngdialog-message">
                    <h2>Process Video for Analysis</h2>
                    <div><input type="text" ng-model="inputurl" id="incomingUrl" style="width:80%" /><button type="button" ng-disabled="isProcessDisabled" ng-click="process()">Process</button></div>
                    <ul class="mt">
                        <li ng-repeat="s in Workingstatus">{{s}}</li>
                    </ul>
                    <div class="mt">Please wait until all steps are proceeded. Please copy Url and Paste in mainWindow.</div>
                    <div ng-show="ShowFinalLink">
                        <span>Link To Result:</span>
                        <input type="text" ng-model="finalLink" />
                    </div>
                </div>
                <div class="ngdialog-buttons mt">
                    <!--<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="Close()">Close and Edit</button>-->
                </div>
            </script>
        </div>
    </div>
    <div ng-hide="HideEditorPane">
        <div class="row">

            <div class="col-md-12">
                <video id="azuremediaplayer" class="azuremediaplayer amp-default-skin amp-big-play-centered" tabindex="0"></video>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><span style="font-weight:bold">Timeline</span></div>
                <div class="panel-body">

                    <label>Timecodes for texts with a normal or low confidence in precision</label>
                    <br />
                    <div class="col-md-12">
                        <button ng-repeat="item in viewData.DetectedPhrases | filter: filterConfidence" class="btn" ng-class="{'btn-danger': (item.Phrase[0].Confidence == 'Low'),'btn-warning': (item.Phrase[0].Confidence == 'Normal'),'btn-success': (item.Phrase[0].Confidence == 'High')}"
                                ng-click="setTimeAndCaption(item.Phrase[0])">
                            {{item.Phrase[0].Offset}}
                        </button>
                    </div>
                    <div style="padding-left:20px;" class="row">
                        <h3>Recognized text</h3>
                        <textarea id="m_CaptionText" style="float:left;width:200px" rows="4" cols="80" ng-model="currentCaptionContent"></textarea>
                        <button class="btn btn-default pull-right" ng-click="updateCaption()">Update</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><span style="font-weight:bold">Entities</span></div>
                <div class="panel-body">

                    <div class="col-md-12">
                        <button class="btn btn-default"
                                ng-repeat="item in viewData.Entities"
                                ng-click="flagKeyword(item)"
                                ng-class="{true:'btn-success', false:'btn-warning'}[item.Accepted]">
                            {{item.name}}
                        </button>
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Add Entity..." ng-model="newKeyword">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="addKeyword()">Add</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><span style="font-weight:bold">Keywords</span></div>
                <div class="panel-body">

                    <div class="col-md-12">
                        <button class="btn btn-default"
                                ng-repeat="item in viewData.Keywords"
                                ng-click="flagKeyword(item)"
                                ng-class="{true:'btn-success', false:'btn-warning'}[item.Accepted]">
                            {{item.Entity}}
                        </button>
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Add keyword..." ng-model="newKeyword">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="addKeyword()">Add</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><span style="font-weight:bold">Detected Persons</span></div>
                <div class="panel-body">
                    <div ng-repeat="step in viewData.Celebs">
                        <span ng-repeat="item in step" ng-if="item.Name != 'nicht erkannt'">{{item.Name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><span style="font-weight:bold">Not detected Persons</span></div>
                <div class="panel-body">
                    <div ng-repeat="step in viewData.Celebs">
                        <img ng-repeat="item in step" data-ng-src="data:image/jpg;base64,{{item.Img64}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><span style="font-weight:bold">Full outline</span></div>
                <div class="panel-body">
                    <textarea class="col-md-12" ng-model="fullCaption"></textarea>
                    <button class="btn btn-default pull-right" ng-click="refreshFull()">Refresh</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.7/angular-route.js"></script>
<script src="//amp.azure.net/libs/amp/1.7.4/azuremediaplayer.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script src="../../assets/js/ngdialog.min.js" type="text/javascript"></script>
<!--<script src="../../assets/js/ngfileupload.min.js" type="text/javascript"></script>
<script src="../../assets/js/ngfileupload.shim.min.js" type="text/javascript"></script>
    -->
<script src="../../assets/js/blobUpload.js" type="text/javascript"></script>

<script src="../../assets/js/app.js" type="text/javascript"></script>
<script src="../../assets/js/editorController.js" type="text/javascript"></script>
<script src="../../assets/js/timelineMarkers.js" type="text/javascript"></script>
